@media (max-width: 575.98px) {
    .navbar {
        justify-content: space-around;
    }
}

@media (max-width: 767.98px) {
    .order-1 {
        order: 0;
    }
}

.btn {
    cursor: pointer;
    color: white !important;
    width: max-content;
}

.btn-outline-primary {
    color: #007bff !important;
}

.btn-outline-primary:hover {
    color: white !important;
}

.btn-outline-warning {
    color: #ffc107 !important;
}

.btn-outline-warning:hover {
    color: white !important;
}

.btn-outline-success {
    color: #28a745 !important;
}

.btn-outline-success:hover {
    color: white !important;
}

.btn-outline-danger {
    color: #dc3545 !important;
}

.btn-outline-danger:hover {
    color: white !important;
}

.btn-outline-secondary {
    color: #6c757d !important;
}

.btn-outline-secondary:hover {
    color: white !important;
}

.btn-group a:last-of-type {
    border-top-right-radius: 0.2rem !important;
    border-bottom-right-radius: 0.2rem !important;
}

#shuffler {
    width: 2.2rem;
    display: block;
    margin: 1rem auto 1rem auto;
    opacity: 0.6;
    cursor: pointer;
    transition: 0.6s;
}

#shuffler.rotate {
    transition: 0.6s;
    transform: rotate(180deg)
}

fieldset {
    border: 1px solid
}

.dummy-card {
    width: 290px;
    height: 310px
}

.dummy-card div:first-of-type {
    background-color: rgba(0, 0, 0, .03);
    height: 15%
}

@media (max-width: 991.98px) {
    .dummy-card {
        display: none;
    }
}